# BaseCamp2 - Day_2 - Assignment 1:
The following assignment is provided for the learners to assess their python understanding after the python refresher base camp. Do attempt them without the help of Gen AI üôÇ. Of course you may take help of sample programs, online references etc ‚Ä¶\!

The file ‚Äòai\_job\_dataset.csv‚Äô contains sample data about job postings of companies in various countries with details related to skills needed, experience level, years of experience need, education qualification, salary normalised in USD etc.

Make a Python class to analyse data file in this format. Consider that it shall work with any data file in this format (same columns, but data can be different). Make use of pandas data frame to read, process the data from CSV.

Design the ‚ÄúJob\_Data\_Analysis‚Äù class with the following methods supported:

* At the initialisation of object, the CSV file name to be provided. The other functions shall work based on this data.
* get\_company\_locations : return the list of company location countries
* get\_salary\_range\_per\_emp\_type : for a country as input, return a data frame containing min, mean, max salary per employee type. Employee type shall be columns
* get\_avg\_exp\_per\_level : for a country as input, return average number of years experience per experience level as a dict
* get\_num\_industry : return number of industries that are recruiting per country as a dict
* get\_benefit\_score\_range : return min, mean, max benefit score per country as a data frame

#### Before anything Let's import pandas.

In [1]:
import pandas as pd

## **Rough Section To be removed Later** üëá

In [2]:
df = pd.read_csv("ai_job_dataset.csv")
# country_df = df['company_location']
# employment_type_df = df['employment_type']
# salary_usd_df = df['salary_usd']

# employment_type_df
# # df[country_df == "India"].salary_usd.min()
# ttt_country_wise_df = df[df['company_location'] == "India"]


# ttt_country_wise_df.groupby('industry').count()
# groupby_employment_type = ttt_country_wise_df.groupby('employment_type')




# groupby_employment_type['salary_usd'].max()
# groupby_employment_type['salary_usd'].mean()
# groupby_employment_type['salary_usd'].min()



# ttt = ttt_country_wise_df.groupby('employment_type')['salary_usd'].max()
# ttt
# # groupby_employment_type["Max"] = groupby_employment_type['salary_usd'].max().rename("Max")
# groupby_employment_type

# groupby_employment_type['salary_usd'].min()

#### Now, Create the JobDataAnalysis Class

In [3]:
class JobDataAnalysis:
    def __init__(self, csv_file):
        self.ai_job_db = pd.read_csv(csv_file)

    def get_company_locations(self):
        return self.ai_job_db['company_location'].to_list()

    def get_salary_range_per_emp_type(self, country):
        country_wise_df = self.ai_job_db[self.ai_job_db['company_location'] == country]

        new_df = pd.DataFrame({
            'employment_type': pd.Series(dtype='object'),
            'min_salary': pd.Series(dtype='float'),
            'mean_salary': pd.Series(dtype='float'),
            'max_salary': pd.Series(dtype='float')
        })
        for each_emp_type, each_emp_type_df in country_wise_df.groupby('employment_type'):
            new_row = pd.DataFrame({
                'employment_type': [each_emp_type],
                'min_salary': [each_emp_type_df['salary_usd'].min()],
                'mean_salary': [each_emp_type_df['salary_usd'].mean()],
                'max_salary': [each_emp_type_df['salary_usd'].max()]
            })
            new_df = pd.concat([new_df, new_row], ignore_index=True)

        return new_df

    def get_avg_exp_per_level(self, country):
        country_wise_df = self.ai_job_db[self.ai_job_db['company_location'] == country]
        avg_exp_per_level_list = []
        for each_exp_level, each_exp_level_df in country_wise_df.groupby('experience_level'):
            avg_exp_per_level_list.append({
                "experience_level": each_exp_level,
                "average_years_experience": float(each_exp_level_df['years_experience'].mean())
            })
        return avg_exp_per_level_list

    def get_num_industry(self):
        num_industry_result = {}

        for each_country, each_country_df in self.ai_job_db.groupby('company_location'):
            num_industry_result.setdefault(each_country, {})
            for each_industry, each_industry_df in each_country_df.groupby('industry'):
                num_industry_result[each_country][each_industry] = int(each_industry_df['job_id'].count())
        
        return num_industry_result

    def get_benefit_score_range(self):
        benefit_score_list = []
        for each_country, each_country_df in df.groupby('company_location'):
            benefit_score_list.append({
                "country": each_country,
                "min_benifit_score": each_country_df['benefits_score'].min(),
                "mean_benifit_score": each_country_df['benefits_score'].mean(),
                "max_benifit_score": each_country_df['benefits_score'].max(),
            })

        return pd.DataFrame(benefit_score_list)

#### Now Initialise the Class and test it.
* At the initialisation of object, the CSV file name to be provided. The other functions shall work based on this data.

In [4]:
input_csv_file = "ai_job_dataset.csv"
jda = JobDataAnalysis(csv_file=input_csv_file)

#### Now let's try get_company_locations()
* get_company_locations : return the list of company location countries

In [5]:
jda.get_company_locations()

['China',
 'Canada',
 'Switzerland',
 'India',
 'France',
 'Germany',
 'United Kingdom',
 'France',
 'Singapore',
 'Austria',
 'Sweden',
 'South Korea',
 'France',
 'Norway',
 'Sweden',
 'United Kingdom',
 'India',
 'France',
 'Singapore',
 'Netherlands',
 'Norway',
 'United States',
 'Germany',
 'Austria',
 'China',
 'Israel',
 'Australia',
 'Austria',
 'Ireland',
 'Israel',
 'Netherlands',
 'Denmark',
 'Switzerland',
 'Finland',
 'Sweden',
 'Finland',
 'Japan',
 'Israel',
 'China',
 'Netherlands',
 'United States',
 'United States',
 'Finland',
 'Singapore',
 'Netherlands',
 'United States',
 'India',
 'China',
 'Switzerland',
 'Austria',
 'Germany',
 'India',
 'United States',
 'Norway',
 'Israel',
 'Canada',
 'India',
 'Israel',
 'Germany',
 'United Kingdom',
 'China',
 'Norway',
 'Switzerland',
 'Australia',
 'South Korea',
 'Ireland',
 'Israel',
 'Denmark',
 'Germany',
 'France',
 'Israel',
 'France',
 'Norway',
 'United Kingdom',
 'Sweden',
 'Singapore',
 'Canada',
 'Israel',
 'India',
 'United States',
 'France',
 'Australia',
 'Canada',
 'Sweden',
 'Finland',
 'Denmark',
 'Israel',
 'United States',
 'France',
 'France',
 'Canada',
 'France',
 'Singapore',
 'United States',
 'Canada',
 'Israel',
 'France',
 'Canada',
 'Switzerland',
 'United States',
 'Norway',
 'Israel',
 'Netherlands',
 'Sweden',
 'United Kingdom',
 'Japan',
 'South Korea',
 'Norway',
 'France',
 'Israel',
 'United States',
 'France',
 'France',
 'France',
 'Germany',
 'United States',
 'Austria',
 'Ireland',
 'Singapore',
 'Australia',
 'Austria',
 'China',
 'Singapore',
 'Austria',
 'Denmark',
 'South Korea',
 'Denmark',
 'Switzerland',
 'Ireland',
 'Austria',
 'Netherlands',
 'South Korea',
 'Canada',
 'France',
 'United Kingdom',
 'Finland',
 'Norway',
 'Denmark',
 'France',
 'Sweden',
 'Denmark',
 'Austria',
 'Denmark',
 'China',
 'Austria',
 'Austria',
 'Australia',
 'Netherlands',
 'Finland',
 'United States',
 'Ireland',
 'Australia',
 'Sweden',
 'Netherlands',
 'Canada',
 'China',
 'Finland',
 'Norway',
 'Norway',
 'Netherlands',
 'Denmark',
 'Canada',
 'Israel',
 'Germany',
 'United States',
 'Canada',
 'Norway',
 'South Korea',
 'Germany',
 'Canada',
 'Singapore',
 'Singapore',
 'United Kingdom',
 'India',
 'Germany',
 'Germany',
 'China',
 'Denmark',
 'Norway',
 'India',
 'South Korea',
 'Netherlands',
 'Ireland',
 'Austria',
 'Switzerland',
 'Denmark',
 'Canada',
 'United States',
 'Norway',
 'South Korea',
 'Austria',
 'Denmark',
 'Ireland',
 'Australia',
 'Netherlands',
 'France',
 'China',
 'South Korea',
 'Austria',
 'United States',
 'Netherlands',
 'Sweden',
 'United Kingdom',
 'Ireland',
 'Austria',
 'United Kingdom',
 'United Kingdom',
 'Japan',
 'Singapore',
 'France',
 'United Kingdom',
 'Finland',
 'Japan',
 'Austria',
 'China',
 'Norway',
 'China',
 'Australia',
 'Finland',
 'Netherlands',
 'Israel',
 'Netherlands',
 'United Kingdom',
 'China',
 'Germany',
 'Canada',
 'United States',
 'United Kingdom',
 'South Korea',
 'India',
 'France',
 'China',
 'Ireland',
 'United States',
 'South Korea',
 'Austria',
 'Ireland',
 'Canada',
 'Germany',
 'France',
 'United States',
 'Finland',
 'Canada',
 'Singapore',
 'Japan',
 'Japan',
 'Austria',
 'United States',
 'Netherlands',
 'United States',
 'Sweden',
 'Ireland',
 'Israel',
 'Finland',
 'China',
 'France',
 'Germany',
 'Austria',
 'France',
 'Austria',
 'Switzerland',
 'United States',
 'United Kingdom',
 'South Korea',
 'India',
 'United States',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 'Australia',
 'Japan',
 'Ireland',
 'Sweden',
 'United Kingdom',
 'India',
 'United Kingdom',
 'United States',
 'Austria',
 'United Kingdom',
 'China',
 'Switzerland',
 'France',
 'Austria',
 'France',
 'India',
 'Israel',
 'Switzerland',
 'Ireland',
 'Germany',
 'Ireland',
 'Japan',
 'Canada',
 'Netherlands',
 'Finland',
 'Israel',
 'Finland',
 'Ireland',
 'Australia',
 'China',
 'Japan',
 'China',
 'China',
 'Sweden',
 'Australia',
 'Australia',
 'Denmark',
 'Finland',
 'France',
 'Finland',
 'China',
 'Norway',
 'Finland',
 'Canada',
 'Ireland',
 'Canada',
 'Sweden',
 'Switzerland',
 'China',
 'France',
 'Japan',
 'Canada',
 'France',
 'Ireland',
 'Sweden',
 'Singapore',
 'United States',
 'Australia',
 'India',
 'Canada',
 'United Kingdom',
 'Canada',
 'Israel',
 'Finland',
 'Germany',
 'Sweden',
 'Netherlands',
 'Singapore',
 'Japan',
 'Japan',
 'Norway',
 'Singapore',
 'Denmark',
 'Israel',
 'Norway',
 'Finland',
 'Switzerland',
 'Australia',
 'Germany',
 'Japan',
 'South Korea',
 'China',
 'Germany',
 'Ireland',
 'Austria',
 'Ireland',
 'South Korea',
 'Switzerland',
 'Denmark',
 'Australia',
 'Austria',
 'France',
 'Germany',
 'Norway',
 'United Kingdom',
 'Canada',
 'Austria',
 'Norway',
 'Norway',
 'Austria',
 'Israel',
 'Australia',
 'Singapore',
 'Israel',
 'Austria',
 'Denmark',
 'Finland',
 'Israel',
 'France',
 'Netherlands',
 'France',
 'Singapore',
 'Switzerland',
 'Singapore',
 'Israel',
 'Finland',
 'Germany',
 'Switzerland',
 'China',
 'Australia',
 'South Korea',
 'Norway',
 'Japan',
 'Denmark',
 'Norway',
 'Ireland',
 'Netherlands',
 'Singapore',
 'Norway',
 'Norway',
 'Netherlands',
 'Norway',
 'Germany',
 'South Korea',
 'United Kingdom',
 'Germany',
 'South Korea',
 'Japan',
 'Israel',
 'India',
 'Australia',
 'Japan',
 'Canada',
 'France',
 'India',
 'Denmark',
 'Denmark',
 'Norway',
 'Germany',
 'United Kingdom',
 'Germany',
 'Switzerland',
 'Denmark',
 'Denmark',
 'Germany',
 'United States',
 'Switzerland',
 'Austria',
 'Singapore',
 'Australia',
 'Canada',
 'France',
 'Finland',
 'China',
 'Japan',
 'United States',
 'Israel',
 'China',
 'Switzerland',
 'United States',
 'Japan',
 'Canada',
 'Japan',
 'Austria',
 'Singapore',
 'Denmark',
 'Ireland',
 'Japan',
 'Singapore',
 'Singapore',
 'Ireland',
 'Singapore',
 'Norway',
 'India',
 'Netherlands',
 'Denmark',
 'Canada',
 'France',
 'Japan',
 'Germany',
 'Singapore',
 'Austria',
 'Singapore',
 'South Korea',
 'Denmark',
 'South Korea',
 'Norway',
 'India',
 'Denmark',
 'South Korea',
 'Sweden',
 'China',
 'Norway',
 'Singapore',
 'Germany',
 'United States',
 'Sweden',
 'Ireland',
 'Denmark',
 'United Kingdom',
 'Finland',
 'Canada',
 'United States',
 'Japan',
 'Japan',
 'United Kingdom',
 'China',
 'Germany',
 'China',
 'Israel',
 'United Kingdom',
 'Finland',
 'Australia',
 'France',
 'Norway',
 'Netherlands',
 'Australia',
 'Denmark',
 'Sweden',
 'Sweden',
 'Denmark',
 'China',
 'Singapore',
 'Canada',
 'Japan',
 'Germany',
 'Israel',
 'France',
 'Japan',
 'Denmark',
 'South Korea',
 'Denmark',
 'Israel',
 'China',
 'Denmark',
 'France',
 'Netherlands',
 'Japan',
 'Ireland',
 'Denmark',
 'Austria',
 'Japan',
 'South Korea',
 'Australia',
 'Norway',
 'United Kingdom',
 'Germany',
 'Netherlands',
 'South Korea',
 'Australia',
 'United Kingdom',
 'United States',
 'Singapore',
 'Ireland',
 'Denmark',
 'United States',
 'Switzerland',
 'Canada',
 'Switzerland',
 'Finland',
 'Japan',
 'Sweden',
 'Ireland',
 'China',
 'India',
 'India',
 'Australia',
 'Finland',
 'India',
 'Ireland',
 'Finland',
 'Sweden',
 'Sweden',
 'Canada',
 'Denmark',
 'Singapore',
 'Singapore',
 'Canada',
 'Germany',
 'Norway',
 'China',
 'Norway',
 'India',
 'Canada',
 'Canada',
 'China',
 'Denmark',
 'Finland',
 'Germany',
 'Canada',
 'Norway',
 'Norway',
 'Sweden',
 'China',
 'Singapore',
 'Sweden',
 'Israel',
 'United States',
 'Finland',
 'United Kingdom',
 'Japan',
 'Germany',
 'Israel',
 'United States',
 'Sweden',
 'United Kingdom',
 'Japan',
 'Netherlands',
 'Germany',
 'Germany',
 'United States',
 'Germany',
 'Ireland',
 'Ireland',
 'Switzerland',
 'United Kingdom',
 'Singapore',
 'United Kingdom',
 'Ireland',
 'United Kingdom',
 'India',
 'Germany',
 'Sweden',
 'Denmark',
 'United States',
 'Norway',
 'Finland',
 'Norway',
 'Ireland',
 'Israel',
 'Norway',
 'Netherlands',
 'Denmark',
 'United States',
 'Finland',
 'India',
 'Ireland',
 'United States',
 'India',
 'Denmark',
 'Finland',
 'Netherlands',
 'Israel',
 'Sweden',
 'Germany',
 'China',
 'Israel',
 'United States',
 'Switzerland',
 'Denmark',
 'Israel',
 'Australia',
 'Canada',
 'Israel',
 'Norway',
 'Singapore',
 'Norway',
 'China',
 'Australia',
 'Netherlands',
 'Japan',
 'Israel',
 'Switzerland',
 'China',
 'India',
 'Canada',
 'South Korea',
 'Sweden',
 'Canada',
 'South Korea',
 'Finland',
 'Japan',
 'Canada',
 'Australia',
 'Denmark',
 'Sweden',
 'Switzerland',
 'Norway',
 'Ireland',
 'Denmark',
 'China',
 'United States',
 'Switzerland',
 'South Korea',
 'Israel',
 'Netherlands',
 'China',
 'Austria',
 'China',
 'India',
 'Israel',
 'Austria',
 'Denmark',
 'Japan',
 'United States',
 'Netherlands',
 'Germany',
 'Australia',
 'Ireland',
 'South Korea',
 'India',
 'Canada',
 'Australia',
 'Israel',
 'Austria',
 'Netherlands',
 'Austria',
 'South Korea',
 'Ireland',
 'India',
 'Singapore',
 'United Kingdom',
 'Singapore',
 'France',
 'China',
 'United States',
 'Canada',
 'Australia',
 'South Korea',
 'China',
 'Finland',
 'Switzerland',
 'South Korea',
 'Ireland',
 'Sweden',
 'France',
 'United Kingdom',
 'United Kingdom',
 'Japan',
 'France',
 'India',
 'Ireland',
 'Canada',
 'Austria',
 'China',
 'Sweden',
 'Norway',
 'United Kingdom',
 'Ireland',
 'Finland',
 'Israel',
 'Japan',
 'Germany',
 'Switzerland',
 'Sweden',
 'Sweden',
 'South Korea',
 'South Korea',
 'Australia',
 'South Korea',
 'France',
 'China',
 'United Kingdom',
 'Denmark',
 'Sweden',
 'China',
 'Canada',
 'United States',
 'India',
 'Sweden',
 'Austria',
 'Germany',
 'Switzerland',
 'France',
 'India',
 'Japan',
 'Norway',
 'Germany',
 'Japan',
 'South Korea',
 'Netherlands',
 'Austria',
 'Finland',
 'China',
 'Switzerland',
 'France',
 'Norway',
 'Israel',
 'Austria',
 'United States',
 'United States',
 'United Kingdom',
 'Finland',
 'Norway',
 'India',
 'Ireland',
 'Sweden',
 'Finland',
 'Germany',
 'Denmark',
 'Canada',
 'Denmark',
 'Finland',
 'China',
 'Japan',
 'United States',
 'Germany',
 'South Korea',
 'France',
 'South Korea',
 'Germany',
 'Sweden',
 'United States',
 'Switzerland',
 'Australia',
 'Germany',
 'Germany',
 'South Korea',
 'Netherlands',
 'United States',
 'Ireland',
 'Netherlands',
 'United States',
 'Denmark',
 'France',
 'Finland',
 'Ireland',
 'South Korea',
 'United Kingdom',
 'Norway',
 'Canada',
 'Finland',
 'France',
 'Finland',
 'Sweden',
 'Austria',
 'Australia',
 'Israel',
 'Switzerland',
 'Ireland',
 'India',
 'United Kingdom',
 'Singapore',
 'United States',
 'Denmark',
 'Denmark',
 'Norway',
 'France',
 'Denmark',
 'United States',
 'Austria',
 'South Korea',
 'Netherlands',
 'Canada',
 'Japan',
 'Japan',
 'Sweden',
 'Israel',
 'United Kingdom',
 'China',
 'Netherlands',
 'Austria',
 'Israel',
 'Germany',
 'Japan',
 'Switzerland',
 'United States',
 'France',
 'Australia',
 'India',
 'Canada',
 'Finland',
 'United States',
 'Austria',
 'India',
 'Norway',
 'South Korea',
 'United Kingdom',
 'South Korea',
 'France',
 'Netherlands',
 'Switzerland',
 'Singapore',
 'Norway',
 'Australia',
 'United Kingdom',
 'Sweden',
 'United States',
 'Switzerland',
 'Japan',
 'United Kingdom',
 'Austria',
 'Norway',
 'Norway',
 'France',
 'France',
 'Norway',
 'India',
 'United States',
 'Norway',
 'Canada',
 'Canada',
 'Denmark',
 'Ireland',
 'Canada',
 'Austria',
 'Ireland',
 'Germany',
 'China',
 'Japan',
 'Netherlands',
 'Israel',
 'Canada',
 'South Korea',
 'Finland',
 'China',
 'Singapore',
 'United States',
 'Ireland',
 'South Korea',
 'China',
 'China',
 'China',
 'Germany',
 'India',
 'Canada',
 'Israel',
 'Singapore',
 'Australia',
 'United States',
 'India',
 'Netherlands',
 'Australia',
 'Denmark',
 'Austria',
 'Israel',
 'Germany',
 'China',
 'Switzerland',
 'Germany',
 'Finland',
 'United Kingdom',
 'United Kingdom',
 'India',
 'Sweden',
 'Austria',
 'Switzerland',
 'South Korea',
 'Norway',
 'Germany',
 'Finland',
 'Norway',
 'Finland',
 'Switzerland',
 'China',
 'Denmark',
 'Australia',
 'United Kingdom',
 'Sweden',
 'India',
 'Israel',
 'United Kingdom',
 'France',
 'Netherlands',
 'Australia',
 'United Kingdom',
 'Ireland',
 'Singapore',
 'United States',
 'Ireland',
 'China',
 'Canada',
 'China',
 'Sweden',
 'Germany',
 'Israel',
 'Finland',
 'China',
 'Japan',
 'China',
 'India',
 'Singapore',
 'India',
 'India',
 'Ireland',
 'Israel',
 'India',
 'Netherlands',
 'France',
 'United Kingdom',
 'Canada',
 'Singapore',
 'Ireland',
 'Japan',
 'China',
 'United Kingdom',
 'Canada',
 'United States',
 'Canada',
 'Norway',
 'United States',
 'Norway',
 'Australia',
 'Israel',
 'Finland',
 'Denmark',
 'Singapore',
 'France',
 'Finland',
 'Netherlands',
 'Ireland',
 'Germany',
 'Singapore',
 'South Korea',
 'Finland',
 'Netherlands',
 'Netherlands',
 'Denmark',
 'France',
 'Canada',
 'Israel',
 'Ireland',
 'Ireland',
 'Ireland',
 'Netherlands',
 'Netherlands',
 'Switzerland',
 'Singapore',
 'Norway',
 'Israel',
 ...]

#### Set the country

In [6]:
COUNTRY = "India"

#### Now let's try get_salary_range_per_emp_type()
* get_salary_range_per_emp_type : for a country as input, return a data frame containing min, mean, max salary per employee type. Employee type shall be columns

In [7]:
jda.get_salary_range_per_emp_type(country=COUNTRY)

  employment_type  min_salary   mean_salary  max_salary
0              CT     33117.0  83733.375610    197785.0
1              FL     33918.0  83897.398936    198957.0
2              FT     32519.0  84055.742515    197244.0
3              PT     33282.0  85250.623711    203402.0

#### Time to check get_avg_exp_per_level()
 * get_avg_exp_per_level : for a country as input, return average number of years experience per experience level as a dict

In [8]:
jda.get_avg_exp_per_level(country=COUNTRY)

[{'experience_level': 'EN', 'average_years_experience': 0.4603174603174603},
 {'experience_level': 'EX', 'average_years_experience': 14.776470588235295},
 {'experience_level': 'MI', 'average_years_experience': 3.1105527638190953},
 {'experience_level': 'SE', 'average_years_experience': 7.076530612244898}]

#### Now, get_num_industry()
* get_num_industry : return number of industries that are recruiting per country as a dict

In [9]:
jda.get_num_industry()

{'Australia': {'Automotive': 55,
  'Consulting': 44,
  'Education': 41,
  'Energy': 51,
  'Finance': 41,
  'Gaming': 49,
  'Government': 41,
  'Healthcare': 59,
  'Manufacturing': 45,
  'Media': 52,
  'Real Estate': 55,
  'Retail': 61,
  'Technology': 54,
  'Telecommunications': 37,
  'Transportation': 47},
 'Austria': {'Automotive': 53,
  'Consulting': 52,
  'Education': 56,
  'Energy': 48,
  'Finance': 41,
  'Gaming': 51,
  'Government': 50,
  'Healthcare': 37,
  'Manufacturing': 45,
  'Media': 53,
  'Real Estate': 52,
  'Retail': 65,
  'Technology': 63,
  'Telecommunications': 52,
  'Transportation': 47},
 'Canada': {'Automotive': 44,
  'Consulting': 48,
  'Education': 53,
  'Energy': 57,
  'Finance': 44,
  'Gaming': 57,
  'Government': 62,
  'Healthcare': 53,
  'Manufacturing': 55,
  'Media': 43,
  'Real Estate': 73,
  'Retail': 44,
  'Technology': 42,
  'Telecommunications': 44,
  'Transportation': 50},
 'China': {'Automotive': 50,
  'Consulting': 54,
  'Education': 49,
  'Energy': 50,
  'Finance': 42,
  'Gaming': 53,
  'Government': 51,
  'Healthcare': 63,
  'Manufacturing': 50,
  'Media': 56,
  'Real Estate': 37,
  'Retail': 52,
  'Technology': 49,
  'Telecommunications': 55,
  'Transportation': 52},
 'Denmark': {'Automotive': 61,
  'Consulting': 55,
  'Education': 45,
  'Energy': 40,
  'Finance': 69,
  'Gaming': 51,
  'Government': 54,
  'Healthcare': 41,
  'Manufacturing': 59,
  'Media': 52,
  'Real Estate': 48,
  'Retail': 55,
  'Technology': 49,
  'Telecommunications': 49,
  'Transportation': 50},
 'Finland': {'Automotive': 48,
  'Consulting': 53,
  'Education': 35,
  'Energy': 60,
  'Finance': 50,
  'Gaming': 41,
  'Government': 48,
  'Healthcare': 56,
  'Manufacturing': 42,
  'Media': 50,
  'Real Estate': 44,
  'Retail': 47,
  'Technology': 53,
  'Telecommunications': 52,
  'Transportation': 54},
 'France': {'Automotive': 50,
  'Consulting': 48,
  'Education': 50,
  'Energy': 38,
  'Finance': 61,
  'Gaming': 49,
  'Government': 45,
  'Healthcare': 48,
  'Manufacturing': 57,
  'Media': 66,
  'Real Estate': 57,
  'Retail': 53,
  'Technology': 54,
  'Telecommunications': 43,
  'Transportation': 50},
 'Germany': {'Automotive': 61,
  'Consulting': 56,
  'Education': 52,
  'Energy': 37,
  'Finance': 60,
  'Gaming': 51,
  'Government': 62,
  'Healthcare': 53,
  'Manufacturing': 57,
  'Media': 60,
  'Real Estate': 60,
  'Retail': 58,
  'Technology': 47,
  'Telecommunications': 58,
  'Transportation': 42},
 'India': {'Automotive': 43,
  'Consulting': 58,
  'Education': 47,
  'Energy': 46,
  'Finance': 28,
  'Gaming': 46,
  'Government': 60,
  'Healthcare': 55,
  'Manufacturing': 49,
  'Media': 58,
  'Real Estate': 51,
  'Retail': 44,
  'Technology': 65,
  'Telecommunications': 43,
  'Transportation': 61},
 'Ireland': {'Automotive': 58,
  'Consulting': 46,
  'Education': 63,
  'Energy': 51,
  'Finance': 58,
  'Gaming': 42,
  'Government': 42,
  'Healthcare': 53,
  'Manufacturing': 49,
  'Media': 55,
  'Real Estate': 54,
  'Retail': 48,
  'Technology': 47,
  'Telecommunications': 40,
  'Transportation': 44},
 'Israel': {'Automotive': 44,
  'Consulting': 50,
  'Education': 42,
  'Energy': 43,
  'Finance': 49,
  'Gaming': 54,
  'Government': 44,
  'Healthcare': 57,
  'Manufacturing': 48,
  'Media': 50,
  'Real Estate': 52,
  'Retail': 61,
  'Technology': 46,
  'Telecommunications': 61,
  'Transportation': 50},
 'Japan': {'Automotive': 48,
  'Consulting': 46,
  'Education': 42,
  'Energy': 63,
  'Finance': 48,
  'Gaming': 49,
  'Government': 46,
  'Healthcare': 46,
  'Manufacturing': 57,
  'Media': 50,
  'Real Estate': 47,
  'Retail': 53,
  'Technology': 47,
  'Telecommunications': 45,
  'Transportation': 46},
 'Netherlands': {'Automotive': 62,
  'Consulting': 52,
  'Education': 42,
  'Energy': 44,
  'Finance': 47,
  'Gaming': 46,
  'Government': 48,
  'Healthcare': 35,
  'Manufacturing': 44,
  'Media': 53,
  'Real Estate': 55,
  'Retail': 43,
  'Technology': 51,
  'Telecommunications': 59,
  'Transportation': 50},
 'Norway': {'Automotive': 45,
  'Consulting': 47,
  'Education': 42,
  'Energy': 46,
  'Finance': 46,
  'Gaming': 45,
  'Government': 29,
  'Healthcare': 65,
  'Manufacturing': 42,
  'Media': 45,
  'Real Estate': 55,
  'Retail': 62,
  'Technology': 46,
  'Telecommunications': 56,
  'Transportation': 50},
 'Singapore': {'Automotive': 53,
  'Consulting': 52,
  'Education': 55,
  'Energy': 57,
  'Finance': 56,
  'Gaming': 59,
  'Government': 54,
  'Healthcare': 46,
  'Manufacturing': 38,
  'Media': 50,
  'Real Estate': 42,
  'Retail': 47,
  'Technology': 50,
  'Telecommunications': 61,
  'Transportation': 44},
 'South Korea': {'Automotive': 51,
  'Consulting': 46,
  'Education': 46,
  'Energy': 44,
  'Finance': 62,
  'Gaming': 36,
  'Government': 56,
  'Healthcare': 48,
  'Manufacturing': 47,
  'Media': 53,
  'Real Estate': 37,
  'Retail': 53,
  'Technology': 42,
  'Telecommunications': 45,
  'Transportation': 56},
 'Sweden': {'Automotive': 49,
  'Consulting': 53,
  'Education': 36,
  'Energy': 58,
  'Finance': 50,
  'Gaming': 53,
  'Government': 52,
  'Healthcare': 46,
  'Manufacturing': 44,
  'Media': 58,
  'Real Estate': 50,
  'Retail': 51,
  'Technology': 52,
  'Telecommunications': 55,
  'Transportation': 45},
 'Switzerland': {'Automotive': 53,
  'Consulting': 53,
  'Education': 54,
  'Energy': 45,
  'Finance': 47,
  'Gaming': 46,
  'Government': 42,
  'Healthcare': 50,
  'Manufacturing': 52,
  'Media': 53,
  'Real Estate': 45,
  'Retail': 61,
  'Technology': 42,
  'Telecommunications': 51,
  'Transportation': 52},
 'United Kingdom': {'Automotive': 45,
  'Consulting': 50,
  'Education': 50,
  'Energy': 45,
  'Finance': 46,
  'Gaming': 49,
  'Government': 63,
  'Healthcare': 46,
  'Manufacturing': 41,
  'Media': 47,
  'Real Estate': 48,
  'Retail': 44,
  'Technology': 59,
  'Telecommunications': 48,
  'Transportation': 48},
 'United States': {'Automotive': 47,
  'Consulting': 57,
  'Education': 56,
  'Energy': 53,
  'Finance': 39,
  'Gaming': 40,
  'Government': 49,
  'Healthcare': 40,
  'Manufacturing': 41,
  'Media': 41,
  'Real Estate': 45,
  'Retail': 61,
  'Technology': 53,
  'Telecommunications': 43,
  'Transportation': 59}}

#### Finally, get_benefit_score_range()
* get_benefit_score_range : return min, mean, max benefit score per country as a data frame

In [10]:
jda.get_benefit_score_range()

           country  min_benifit_score  mean_benifit_score  max_benifit_score
0        Australia                5.0            7.518989               10.0
1          Austria                5.0            7.518562               10.0
2           Canada                5.0            7.571261               10.0
3            China                5.0            7.516252               10.0
4          Denmark                5.0            7.601542               10.0
5          Finland                5.0            7.541610               10.0
6           France                5.0            7.513004               10.0
7          Germany                5.0            7.486855               10.0
8            India                5.0            7.568302               10.0
9          Ireland                5.0            7.389867               10.0
10          Israel                5.0            7.527031               10.0
11           Japan                5.0            7.468759               10.0
12     Netherlands                5.0            7.514227               10.0
13          Norway                5.0            7.480999               10.0
14       Singapore                5.0            7.482984               10.0
15     South Korea                5.0            7.422022               10.0
16          Sweden                5.0            7.495878               10.0
17     Switzerland                5.0            7.450804               10.0
18  United Kingdom                5.0            7.440329               10.0
19   United States                5.0            7.568508               10.0